#apple{
    width: 25px;
 }
 .fill-white{
   fill: rgb(255, 255, 255);
 }
 #banana{
    width: 25px;  
}
#beet{
    width: 30px;
  }
#cabbage{
    width: 25px; 
   }
#celery{
    width: 30px;
    
}
#eggs{
    width: 30px;  
   }
   #green-beans{
    width: 30px;  
   } 
#kiwi{
    width: 30px; 
 }

 
 #pear{    
    width: 30px;
}
#pineapple{
    width: 30px;  
  }
#pineapple2{
    width: 30px;
  }
 
  #blueberries{
    width: 30px;
  }

  #peach{
    width: 30px; 
  }

  #grapefruit{
    width: 25px;
  }

  #grapes{
    width: 25px;
  }
 
  #plum{
    width: 25px;
  }
  #hazelnut{
    width: 25px; 
  }
  #lemon{
    width: 25px;
  }
  #pomegranate{
    width: 25px;
  }
  #chicken{
    width: 25px;
  }
  #blackbarry{
    width: 25px;
  }
  #raspberry{
    width: 25px;
  }
  #nectarines{
    width: 25px;
  } 
  
  #walnut{
    width: 25px;
  }
  #orange{
    width: 25px;
  }
  #fig{
    width: 25px;
  }
  #chard{
    width: 20px;
  }
  #melon{
    width: 27px;
  }
  #cauliflower{
    width: 25px;
  }
  #kale{
    width: 20px;
  }
  #cucumber{
    width: 25px;
  }
  #potato{
    width: 25px;
  }
  #watermelone{
    width: 25px;
  }
  #garlic{
    width: 25px;
  }
  #papper{
    width: 25px;
  }
  #tomato{
    width: 25px;
  }
  #beans{
    width: 25px;
  }
  #eggplant{
    width: 25px;
  }
  #carrot{
    width: 25px;
  }
  #parsley{
    width: 25px;
  }
  #moshrooms{
    width: 25px;
  }
  #leek{
    width: 25px;
  } 
  #radish{
    width: 25px;
  }
  #spinach{
    width: 25px;
  }
  #zucchini{
    width: 35px;
  }
  #greens{
    width: 20px;
  }
  #greens2{
    width: 20px;
  }
  #green-salad{
    width: 25px;
  }
  #marror{
    width: 20px;
  }
  #broccoli{
    width: 20px;
  }
  #quince{
    width: 25px;
  }
  #mandarin{
    width: 25px;
  }
  #bull{
    width: 25px;
  }
  #lamb{
    width: 25px;
  }
  #sheep{
    width: 25px;
  }
  #cow{
    width: 25px;
  }
.width-l{
  width: 25px;
}





